<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/brand.svg" alt="NodeArch">
    <span class="brand-text-1">Node<span class="brand-text-2">Arch</span></span>
  </a>

  <ul class="navbar-nav mr-auto">
  </ul>

  <ul class="navbar-nav my-2 my-lg-0 navbar-right-actions">
    <li ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ currentDocsVersion }}
      </a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" *ngFor="let version of docsVersions; let i = index"
          (click)="changeDocsVersion(version)">{{ version }}</a>
      </div>
    </li>
  </ul>

  <div class="navbar-right-links">
    <a href="https://www.npmjs.com/package/@nodearch/core" target="_blank">
      <i class="fab fa-npm"></i>
    </a>
    <a href="https://github.com/nodearch" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
</nav>

<div id="sidenav" class="scrollbar-info accordion">
  <div *ngFor="let contentItem of docsList; let i = index">
    <button class="btn btn-link sidenav-section" type="button" data-toggle="collapse"
      [attr.data-target]="'section' + i" [attr.aria-expanded]="contentItem.expended"
      [attr.aria-controls]="'section' + i" (click)="contentItem.expended = !contentItem.expended">
      {{ contentItem.section }}
    </button>
    <i class="fas fa-angle-down"></i>

    <ul [id]="'section' + i" class="list-group collapse" [ngClass]="{ 'show': contentItem.expended }"
      aria-labelledby="headingOne" data-parent="#sidenav">
      <li class="sidenav-topic" *ngFor="let topic of contentItem.topics; let y = index"><a href="#">{{ topic }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- <div class="col-12 col-md-3 col-xl-2"></div>

    <div class="col-12 col-md-8 col-xl-9">
      <div  markdown [src]="'http://localhost:5000/README.md'" (load)="onLoad($event)"
      (error)="onError($event)"></div>
    </div>

    <div class="col-12 col-md-1 col-xl-1">

    </div> -->

    <div class="col-12" markdown [src]="'http://localhost:5000/README.md'" (load)="onLoad($event)"
      (error)="onError($event)"></div>

  </div>
</div>