$color-arch-green: #6cce6c;
$color-arch-dark-green: #25b705;
$color-arch-black: #4b4a54;

nav {
  .navbar-brand {
    margin-left: 1rem;

    img {
      width: auto;
      height: 2rem;
    }

    .brand-text-1 {
      top: 0.1rem;
      left: 10px;
      font-weight: bold;
      position: relative;
      color: #fff;
    }

    .brand-text-2 {
      color: $color-arch-green;
    }

    &:hover {
      .brand-text-2 {
        color: #fff;
      }

      .brand-text-1 {
        color: $color-arch-green;
      }
    }
  }

  .navbar-right-actions {
    .nav-link {
      color: #fff;
      margin-right: 2rem;
    }
  }

  .navbar-right-links {
    a {
      color: #fff;
      font-size: 2rem;
      padding-right: 2rem;

      &:hover {
        color: $color-arch-green;
      }
    }
  }
}

#left-sidebar {
  padding-left: 1.5rem;
  padding-top: 1rem;
  overflow: hidden;

  .docs-group {
    padding-left: 0;
    font-weight: bold;

    &[aria-expanded="true"] {
      color: $color-arch-dark-green;

      ~ i {
        color: $color-arch-dark-green;
        transform: rotate(180deg);
        transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
      }
    }

    &[aria-expanded="false"] ~ i {
      transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
    }
  }

  i {
    right: 20px;
    position: absolute;
    margin-top: 0.55rem;
  }

  ul {
    margin-left: 1rem;
  }

  a {
    font-size: 0.9rem;
  }

  a,
  button {
    color: $color-arch-black;
    text-decoration: none;

    &:hover {
      color: $color-arch-dark-green;
      font-weight: 600;
    }
  }

  ul {
    list-style-type: none;
  }
}

#right-sidebar {
  background-color: #f5f2f9;

  ul {
    list-style: none;

    li {
      padding-bottom: 0.3rem;

      .active {
        color: red;
      }
    }
  }

  a {
    color: #99979c;
    font-size: 0.95rem;

    .active {
      color: red;
    }

    &:hover {
      text-decoration: none;
      color: $color-arch-dark-green;
    }
  }

  .sections-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: #99979c;
  }

  .sections-list {
    padding-top: 1rem;
  }
}

.bd-toc {
  @supports (position: sticky) {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.sticky-sidebar {
  background-color: #f5f2f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  order: 0;
}

@media (min-width: 768px) {
  .sticky-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  @supports (position: sticky) {
    .sticky-sidebar {
      position: sticky;
      top: 4rem;
      z-index: 1000;
      height: calc(100vh - 4rem);
    }
  }
}

@media (min-width: 1200px) {
  .sticky-sidebar {
    flex: 0 1 320px;
  }
}

footer {
  height: 5rem;
  background-color: #434343;
  color: #b7b7b7;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $color-arch-dark-green;
    }
  }

  .footer-copyright {
    position: relative;
    top: 1.8rem;
  }
}

.menu-item-selected {
  font-weight: bold;
  color: $color-arch-dark-green !important;
}